# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
*.sqlite3
*.egg-info/
*.egg

# =========================
# Web / Frontend
# =========================
node_modules/
dist/
build/
*.log

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / Temporary
# =========================
*.log
*.tmp
